body {
    background-color: rgb(0, 0, 0);
}

.twitter {
    display: flex;
    align-items: center;
    height: 800px;
    width: 50%;
    margin-left: 250px;
    position: relative;
    top: 50px;

}

.login {
    position: relative;
    left: 900px;
    bottom: 500px;
}

div {
    display: inline-block;
}

h1 {
    color: aliceblue;
    font-size: 60px;
    margin: 0px 0px 20px 0px;
}

h5 {
    color: aliceblue;
    font-size: 30px;
    margin: 40px 0px 20px 0px;

}

.google-login {
    background-color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 20%;
}

.r-1nao33i {
    color: rgb(231, 233, 234);
}

.r-yyyyoo {
    fill: currentcolor;
}

.r-rxcuwo {
    height: 50%;
}

.r-m327ed {
    max-height: 380px;
}

.r-lrvibr {
    -webkit-user-select: none;
    user-select: none;
}

.r-dnmrzs {
    max-width: 100%;
}

.r-bnwqim {
    position: relative;
}

.r-1plcrui {
    vertical-align: text-bottom;
}

.r-1777fci {
    justify-content: center;
}

.r-4qtqp9 {
    display: inline-block;
}

.r-494qqr {
    padding-top: 32px;
}

a>h4 {
    display: inline-block;
    position: relative;
    left: 60px;
    margin: 0px;
    color: black;
}

.line-with-text {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 40px;
}

.line {
    width: 120px;
    background-color: white;
    margin: 0 10px;
    /* Adjust the margin as needed */
}

.text {
    white-space: nowrap;
    color: white;
    position: relative;
    /* Prevent text from wrapping */
}

hr {
    margin: 10px;
    width: 120px;
    color: whitesmoke;
    opacity: 0.5;
}