<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/twitter.css">
    <meta name="google-signin-client_id"
        content="551743730468-33b1gr7qjovm05lvgvgogmu271qdrqra.apps.googleusercontent.comapps.googleusercontent.com">
    
    <title>Document</title>


</head>

<body>
   
    <div class="twitter">
        <svg viewBox="0 0 24 24" aria-hidden="true"
            class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1nao33i r-rxcuwo r-1777fci r-m327ed r-494qqr">
            <g>
                <path
                    d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z">
                </path>
            </g>
        </svg>
    </div>

    <div class="login">
        <h1>Happening Now</h1>
        <h5>Join Today.</h5>

        {% load static%}
        {% load socialaccount %}
        <a class="google-login-button " href="{% provider_login_url 'google' %}"
            style=" background-color: white;border-radius: 40px;text-decoration: none;width:300px;display: inline-block;margin-top:20px;">
            <img src="{% static 'img/7123025_logo_google_g_icon.png' %}" alt="Google Login"
                style="vertical-align: middle;height:100px;height:40px;position:relative;left:60px;" />
            <h4> Sign up with
                google <h4>
        </a>

        <div class="line-with-text">
            <hr>
            <div class="text">or</div>
            <hr>
        </div>

        <div class="register">
            <form method="POST" action = "{% url 'loginuser' %}">
                {% csrf_token%}
                <div >
                  <label for="exampleInputEmail1"  style = "color:white;" >Email address</label>
                  <br>
                  <input type="text" name = "username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your username">
                  <br>
                  <div id="emailHelp"  style = "color:white;">We'll never share your email with anyone else.</div>
                </div>
                <br><br>
                <div>
                  <label for="exampleInputPassword1" style = "color:white;">Password</label>
                  <br>
                  <input type="password"  id="exampleInputPassword1" name="password" placeholder="Enter your password">
                </div>
                <br><br>
                <button type="submit" class="sub-btn">Submit</button>
              </form>

        </div>

    </div>
</body>

</html>