{%  extends "base.html" %}
{% load static %}

    {%block content %}


    
    <div class="container">
       <h1>
           Search Tweets
       </h1>
    <div class="col-11">
        <br><br><br>
        <form method = "POST" action="{% url 'search' %}">
            {% csrf_token %}
            <input type="input" class="form-control" name="search" placeholder="Search Tweets">
            <br/><br/>
            <button type="submit" class="btn btn-secondary" >Search Tweet!</button>
          </form>
          <br><br>
          
          {%if search%}
          <h3> You Search For:
        {{search}} </h3>


                {% for tweet in searched%}
                <div class="alert alert-dark" role="alert">
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                {% if profiles%}
                                    {%for profile in profiles%}
                                    {% if tweet.user == profile.user%}
                                    {% if profile.profile_img %}
                                    <img src="{{profile.profile_img.url}}" class="img-fluid rounded-circle "  alt="profile.user.username">
                                {%else%}
                                    <img src="{% static 'img/pngtree-default-male-avatar-png-image_2811083.jpg' %}" class="img-fluid rounded-circle" style="height:50px;width:50px;" alt="...">
                                {%endif%}
                                {% endif%}
                                {%endfor%}
                                {% endif%}
                            </div>
                                <div class="col-9">
                                    {{tweet.body}} <br/>
                                    <small>
                                        {{tweet.created_at}} By
                                        @{{tweet.user}}
                                        {% if user not in tweet.likes.all %}
                                            - {{tweet.number_of_likes}} <a href="{% url 'tweet_likes' tweet.id %}"> <img src="{% static 'img/like_button.png'%}" style="height:20px;width:20px;margin-bottom:6px;"/></a>
                                        {%else %}
                                            - {{tweet.number_of_likes}} <a href="{% url 'tweet_likes' tweet.id %}"> <img src="{% static 'img/dislike_button.png'%}" style="height:20px;width:20px;"/></a>
                                        {%endif%}
                                        &nbsp; &nbsp;
                                        <a href="{% url 'tweet_show' tweet.id %}" > <i class="fa-solid fa-share" style="color:black;"></i> </a>
            
                                    </small>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}

                {%endif%}
    </div>

</div>

    
    {% endblock%}


